{% load static %}
<style>

.mdc-drawer__header .brand-logo {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 10px 0;       
}

.mdc-drawer__header .logo {
    max-width: 150px; 
    height: auto; 
    object-fit: contain;
}

</style>

<!-- partial:partials/_sidebar.html -->
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header border-bottom border-light">
        <a href="{% url 'home-page' %}" class="brand-logo">
            <img src="{% static 'images/logo2.webp' %}" alt="Company Logo" class="logo">
        </a>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'home-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'department-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">business</i> Department List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'position-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Position List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'employee-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">group</i> Employee List
                    </a>
                </div>
            </nav>
        </div>
    </div>
</aside>
<!-- partial -->
